/* GARDEN LAYOUT IMAGES */
.layoutDiagramWrapperFront {
  aspect-ratio: 300 / 79;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.layoutDiagramWrapperSide {
  aspect-ratio: 208 / 150;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(16, 1fr);
}

.layoutDiagramWrapperRear {
  aspect-ratio: 144 / 150;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(24, 1fr);
}

.layoutDiagramWrapper > svg {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

/* GRID CARD LAYOUT */
.cardLayoutColumn {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-row-gap: 0.666rem;
  height: fit-content;
}

.cardLayoutWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 0.666rem;
}

@media only screen and (max-width: 666px) {
  .cardLayoutWrapper {
    grid-template-columns: 1fr;
  }
}

/* TITLE AND SVG WRAPPER */
.titleWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.titleWrapper > svg {
  height: 1.25rem;
  width: auto;
  padding-left: 0.5rem;
}

/* SELECT WRAPPER STYLING */
.pageSelectWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 0.5rem;
  border: 2px solid var(--foreground-color);
  border-radius: 0.5rem;
  padding: 0.666rem;
}

.pageSelectWrapper > select {
  background-color: var(--background-color);
  color: var(--foreground-color);
  border: 2px solid var(--foreground-color);
  border-radius: 0.25rem;
  padding: 0.25rem;
}