/* FOOTER STYLE RULES */
.footerPaletteButton {
  height: 100%;
  border: 1px solid var(--foreground-color);
  border-radius: 0.33rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 1rem;
}

.footerPaletteButton > svg {
  height: 1rem;
  width: auto;
  margin-right: 0.333rem;
}

.footerWrapper {
  align-self: center;
  justify-self: center;
  padding: 1rem 0;
}

.footerWrapper > h6 {
  text-align: center;
}

/* HEADER STYLE RULES */
.navList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navList > li, .navListSimple > li {
  cursor: pointer;
  padding: 0 0.5rem;
}

.navList > li:hover, .navListSimple > li:hover {
  cursor: pointer;
  text-decoration: underline;
}

.navTitle {
  cursor: pointer;
}

.navWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* TITLE && SIMPLE TITLE */
.titleWrapper {
  width: 100%;
  height: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.titleWrapper > span {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.titleWrapper > span > * {
  height: 80%;
  width: auto;
  margin-left: 0.25rem;
}